<configuration debug="true">
    <!--Test logback only need stdout-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ren.natsuyuk1.comet.utils.logging.PatternLayoutNoLambda">
            <pattern>%d{MM-dd'T'HH:mm:ss} - %highlight(%.-1le) [%t] %green([%lo{40}]) >>> %highlight(%m) %n%rEx{full}
            </pattern>
        </encoder>
    </appender>
    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
    <!--Sub-loggers, the name is NOT same as package path-->
    <logger name="Exposed" level="TRACE"/>
    <logger name="ktor" level="TRACE"/>
    <logger name="com.zaxxer.hikari" level="DEBUG"/>
</configuration>
